@charset "utf-8";
/* Mainpage Stylesheet. These changes will effect only the index page. */


body {
	overflow-x: hidden;
}

/* Featured Content Section */
#FeaturedContentSection {
	width: 100%;
	margin: 0 auto;
	background: #000;
	height: 39.58vw;
	vertical-align: top;
}
#FeaturedParisMobileBG {
	display: none;
}
#FeaturedRichardBG {
	width: 49%;
	height: 38.5vw;
	display: inline-block;
	background: url(../img/mainpage/featuredcontent/RichardB.jpg) no-repeat;
	background-size: 100%;
	transition: all 0.5s;
	margin: 0.5vw 0.5vw 0.5vw 0vw;
	overflow: hidden;
}
#FeaturedRichardBG:hover {
	background-size: 105%;
	transition: all 0.5s;
}
#FeaturedRichardText {
	width: 100%;
	height: 100%;
	background: url(../img/mainpage/featuredcontent/RichardB-text.png) no-repeat;
	background-size: contain;
}
#FeaturedLeftContainer {
	display: inline-block;
	width: 49.25%;
	height: 38.5vw;
	margin: 0.5vw 0.25vw 0.5vw 0.5vw;
	vertical-align: top;
}
#FeaturedParisBG {
	float: left;
	width: 49.2%;
	height: 100%;
	background: url(../img/mainpage/featuredcontent/paris.jpg) no-repeat;
	background-size: 100%;
	transition: all 0.5s;
	overflow: hidden;
	text-align: center;
	position: relative;
	/*margin: 0 0.25vw 0 0;*/
	margin: 0;
}


#FeaturedParisBG:hover {
	background-size: 105%;
	transition: all 0.5s;
}
#FeaturedParisBG img {
	margin-top: 2.5vw;
	width: 15.07vw;
}
#FeaturedParisText {
	position: absolute;
	bottom: 3vw;
	text-align: center;
	color: #fff;
	width: 100%;
}
#FeaturedParisText .BlueButton {
	font-size: 1.25vw;
	width: 11.97916vw;
	max-width: 15.625vw;
	height: 3.645vw;
	line-height: 1.4vw;
	text-align: center;
	font-weight: bold;
	margin: 0 auto;
	padding: 0;
}
#FeaturedParisText h2 {
	text-transform: uppercase;
	font-size: 3.125vw;
	letter-spacing: 0.3vw;
	margin-bottom: 0;
	line-height: 0;
}
#FeaturedParisText p {
	text-transform: uppercase;
	font-size: 1.45vw;
	margin-bottom: 0.5vw;
}
#FeaturediRecruitBG {
	width: 24.25vw;
	height: 19vw;
	float: right;
	
	background-size: 100%;
	transition: all 0.5s;
	margin: 0 0 0 0;
}
#FeaturediRecruitBG:hover {
	background-size: 105%;
	transition: all 0.5s;
}
#FeaturediRecruitText {
	width: 100%;
	height: 100%;
	
	background-size: contain;
}
#FeaturediRecruitText a {
	position: absolute;
	color: #fff;
	font-weight: bold;
	font-size: 1.25vw;
	margin: 15% 0% 0% 3%;
}
#FeaturediRecruitText a span {
	font-weight: bold;
	position: relative;
	top: -2px;
	margin-left: 0px;
	transition: all 0.3s;
}
#FeaturediRecruitText a:hover #Arrow {
	margin-left: 15px;
}
#FeaturedCoderDojoBG {
	width: 24.25vw;
	height: 19vw;
	float: right;
	
	background-size: 100%;
	transition: all 0.5s;
	margin: 0.5vw 0 0 0;
}
#FeaturedCoderDojoBG:hover {
	background-size: 105%;
	transition: all 0.5s;
}
#FeaturedCoderDojoText {
	width: 100%;
	height: 100%;
	
	background-size: contain;
}


.FeaturedDojoClass {
		background: url(../img/mainpage/featuredcontent/coderdojo.jpg);
}

.FeaturedDojoTextClass {
	background: url(../img/mainpage/featuredcontent/coderdojotext.png);
}

.FeaturedIrecruitClass {
	background: url(../img/mainpage/featuredcontent/irecruit.jpg);
}

.FeaturedIrecruitTextClass {
	background: url(../img/mainpage/featuredcontent/irecruit-text.png) no-repeat;
}

.FeaturedShingyClass {
	background: url(../img/mainpage/featuredcontent/shingy.jpg);
}

.FeaturedShingyTextClass {
	background: url(../img/mainpage/featuredcontent/shingtext.png) no-repeat;
}

.FeaturedDistruptClass {
	background: url(../img/mainpage/featuredcontent/disrupthr.jpg);
}

.FeaturedDistruptTextClass {
	background: url(../img/mainpage/featuredcontent/disrupthr.png) no-repeat;
}

/* Temporary CSS */

@media (max-width: 1000px) {
#FeaturedContentSection {
	padding-top: 13vw;
}
}

@media (max-width: 810px) {
#FeaturedRichardBG {
	width: 48.75%;
	height: 38.5vw;
	display: inline-block;
	background: url(../img/mainpage/featuredcontent/RichardB.jpg) no-repeat;
	background-size: 100%;
	transition: all 0.5s;
	margin: 0.5vw 0.5vw 0.5vw 0vw;
	overflow: hidden;
}
}

/* Tablet and Mobile Only */

@media (max-width: 640px) {
	#FeaturedContentSection {
		width: 100%;
		margin: 0 auto;
		background: #000;
		height: auto;
		vertical-align: top;
		padding-bottom: 2.5vw;
	}
	#FeaturedLeftContainer {
		display: none;
	}
	#FeaturedParisMobileBG {
		display: block;
		width: 92vw;
		height: 100%;
		background: url(../img/mainpage/featuredcontent/paris.jpg) no-repeat;
		background-size: 100%;
		overflow: hidden;
		text-align: center;
		margin: 5vw 0vw 2vw 4.375vw;	
	}
	#FeaturedParisMobileBG img {
		margin-top: 9.375vw;
		width: 71.875vw;
		height: auto;
		margin-bottom: 25vw;	
	}
	#FeaturedParisMobileText {
		position: static;
		bottom: 3vw;
		text-align: center;
		color: #fff;
		width: 100%;
		height: auto;
	}
	#FeaturedParisMobileText .BlueButton {
		font-size: 4vw;
		width: 46.875vw;
		height: 12.5vw;
		line-height: auto;
		text-align: center;
		font-weight: bold;
		margin: 0 auto;
		margin-bottom: 9.375vw;
		padding-bottom: 0;
		/*z-index: 10;*/
	}
	#FeaturedParisMobileText h2 {
		text-transform: uppercase;
		font-size: 15vw;
		letter-spacing: 1.71875vw;
		margin-bottom: 0;
		line-height: 0;
	}
	#FeaturedParisMobileText p {
		text-transform: uppercase;
		font-size: 6.875vw;
		margin-top: 8vw;
		margin-bottom: 3vw;
	}

	#FeaturedRichardBG {
		width: 92vw;
		height: 116.25vw;
		display: block;
		background: url(../img/mainpage/featuredcontent/RichardB-mobile-bg.jpg) no-repeat;
		background-size: 100%;
		margin: 5vw 0vw 0vw 4.375vw;
		overflow: hidden;
	}
	#FeaturedRichardText {
		display: none;	
	}
	#FeaturedRichardBG:hover {
		background-size: 100%;
		transition: none;
	}
	#atedrop1-drop {
		margin-top: -140px;	
	}

}


/* END Featured Content Section */	

/*Video section*/

#HRNVideoPause {
  position: absolute;
  /*top: 46vw;*/
  /*left: 50%;*/
  z-index:500;
  cursor:pointer;
  width: 100%;
  padding-top: 45vw;
  padding-bottom: 10vw;	
  padding-left: 50%;
}

#HRNVideo, #HRNVideoTwo {
	width:100%;
	
}


/*END Video section*/


/* About HR Tech World / iRecruit */
#AboutHRTechiRecruit {
	width: 100%;
	margin: 0 auto;
	background-image: url(../img/mainpage/abouthrtechirecruitexpo/about-bg.jpg);
	background-size: cover;
	background-position: top;
	padding: 5vw 0;
	position: relative;
	color: #fff;
	transition: all 0.5s;
	min-height:43vw;
}
#AboutHRTechFadingContentOne {
	padding: 0 1.041vw;
	display: block;
}
#AboutHRTechFadingContentTwo {
	padding: 0 1.041vw;
	display: none;
}
#AboutHRTechFadingContentThree {
	padding: 0 1.041vw;
	display: none;
}

#AboutHRTechiRecruit h2 {
	font-size: 6.25vw;
	text-align: center;
	margin-bottom: 0;
}
#AboutHRTechiRecruit h1, #AboutHRTechiRecruit h4 {
	font-size: 1.77083vw;
	text-align: center;
	margin-bottom: 4.42708vw;
}
#AboutHRTechiRecruit p {
	margin: 0 auto;
	text-align: center;
	max-width: 51.041vw;
	font-size: 1.25vw;
	line-height: 2vw;
}
#AboutButtonContainer {
	margin: 0 auto;
	margin-top: 5.2vw;
	width: 40.88541vw;
	text-align: center;
}
#AboutButtonContainerTwo {
	display:none;
	margin: 0 auto;
	margin-top: 5.2vw;
	width: 40.88541vw;
	text-align: center;
}

#AboutButtonContainer button, #AboutLearnMoreButtonContainer button, #AboutButtonContainerTwo button {
	font-size: 1vw;
	font-weight: bold;
	border: 3px solid #fff;
	display: inline-block;
	margin: 0 0.625vw;
	width: 46vw;
	max-width: 15.625vw;
	height: 3.64583vw;
}
#TwoForOnebutton, #DisruptHRbutton {
	color: #0a4271;
	background-color: #fff;
	transition: all 0.3s;
}
#TwoForOnebutton:hover, #DisruptHRbutton:hover {
	color: #fff;
	background: transparent;
}
#VideoButton {
	color: #fff;
	background: transparent;
}
#VideoButton #Arrow {
	margin-left: 0.5208vw;
	transition: all 0.3s;
}
#VideoButton:hover #Arrow {
	margin-left: 30px;
}
#FadingControlls {
	width: 13vw;
	margin: 0 auto;
	padding-top: 3.38541vw;
	text-align: center;
}
#FadingControlls div {
	border: 3px solid #fff;
	float: left;
	margin: 0 1vw;
	width: 1.5625vw;
	height: 0.625vw;
}
#FadingControlls div:hover, .ActiveFadingControll {
	cursor: pointer;
	background: #fff;
}

#AboutHRTechFadingContentThree {
	text-align:center;	
}
#AboutHRTechFadingContentThree h2  {
	  padding-bottom: 5vw;
	  padding-top: 2vw;
}

#AboutHRTechFadingContentThree p  {
      padding-bottom: 3vw;
}

 #AboutHRTechFadingContentThree h3  {
	font-size: 1vw;
}

@media (max-width: 1000px) {
#AboutHRTechFadingContentOne {
	padding: 0 2.60416vw;
	padding-top: 6.5104166vw;
	display: block;
}
#AboutHRTechFadingContentTwo {
	padding: 0 2.60416vw;
	padding-top: 19.53125vw;
	display: none;
}

#AboutHRTechFadingContentThree h2  {
	  padding-bottom: 10vw;
}

#AboutHRTechFadingContentThree h3  {
	font-size: 3vw;
}


#AboutHRTechiRecruit h2 {
	font-size: 7.33594vw;
	margin-bottom: -2.60416vw;
}

#AboutHRTechiRecruit h1, #AboutHRTechiRecruit h4 {
	font-size: 3.125vw;
	max-width: 69.661458vw;
	margin: 0 auto;
	margin-top: 9.114583vw;
	margin-bottom: 9.114583vw;
}
#AboutHRTechiRecruit p {
	max-width: 87.890625vw;
	font-size: 2.60416vw;
	line-height: 3.90625vw;
}
#AboutButtonContainer {
	margin-top: 12.369792vw;
	width: 100%;
}
#AboutButtonContainer button {
	border: 3px solid #fff;
	font-size: 3.125vw;
	max-width: 48.17708vw;
	height: 9.114583vw;
	margin-left: 1.302083vw;
	margin-right: 1.302083vw;
}
#FadingControlls {
	width: 25vw;
	padding-top: 8.4635416vw;
	padding-bottom: 5.859375vw;
	padding-left: 1.953125vw;
	text-align: center;
}
#FadingControlls div {
	border: 1px solid #fff;
	float: left;
	margin: 0 1.5625vw;
	width: 3.90625vw;
	height: 1.5625vw;
}

#AboutButtonContainerTwo button {
  font-size: 2vw;
  max-width: 20.625vw;
  height: 4.64583vw;
}


}

@media (max-width: 640px) {
#AboutHRTechFadingContentOne {
	padding: 6.25vw 0 0 0;
	display: block;
}
#AboutHRTechFadingContentTwo {
	padding: 6.25vw 0 0 0;
	display: none;
}

#AboutHRTechFadingContentThree h2  {
	  padding-bottom: 15vw;
}
#AboutHRTechFadingContentThree h3  {
	font-size: 5vw;
}
#AboutHRTechiRecruit h2 {
	font-size: 7.5vw;
	margin-bottom: -6.25vw;
}
#AboutHRTechiRecruit h1, #AboutHRTechiRecruit h4 {
	font-size: 5.625vw;
	line-height: 8.125vw;
	max-width: 84.375vw;
	margin-top: 11.25vw;
	margin-bottom: 11.25vw;
	font-family: 'Raleway', sans-serif;
}
#AboutHRTechiRecruit p {
	max-width: 96.875vw;
	font-size: 5vw;
	line-height: 7.8125vw;
}
#AboutButtonContainer {
	margin-top: 14.0625vw;
	margin-bottom: 14.0625vw;
	width: 100%;
}
#AboutButtonContainer button {
	border: 0.9375vw solid #fff;
	font-size: 6.25vw;
	width: 94vw;
	max-width: 100%;
	height: 18.75vw;
	display: block;
	margin: 0 auto;
	margin-bottom: 7.5vw;
}
#FadingControlls {
	padding-bottom: 14.0625vw;
	width: 70vw;
	padding-top: 0;
	text-align: center;
	margin: 0 auto;
}
#FadingControlls div {
	border: 0.625vw solid #fff;
	float: left;
    margin: 0 6vw;
    width: 10vw;
    height: 3.75vw;
}

#AboutButtonContainerTwo button {
	  font-size: 4vw;
  margin: 0 0 8vw -1vw;
  max-width: 46vw;
  height: 13.64583vw;
}
}
/* END About HR Tech World / iRecruit */
/*Speakers */
#Speakers {
	font-size: 0.5208vw;
	color: #fff;
	margin: 0 1% 1% 0;
}
#Speakers h2 {
	font-size: 5.20833vw;
	text-align: center;
	  margin: 2vw auto;
}
#SpeakersContainer {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
#SpeakersContainer ul {
	list-style: none;
	padding-left: 0;
}
#SpeakersContainer ul li {
	float: left;
}
.SpeakersImageContainer{
	margin: 0.25vw;
}
.Square {
	width: 24.2vw;
	height: 24.2vw; /* match width for a 1:1 aspect ratio */
	/*margin: 0.25vw;*/
}
.SpeakerName {
	font-size: 2.08vw;
	margin: 2vw 0 0 1vw;
	line-height: 0.2vw;
}
.SpeakerCompany {
	font-size: 1.25vw;
	margin: 1vw 0 0 1vw;
}
.SpeakerInfo {
	margin: 2vw 1vw 0 1vw;
	font-size: 0.927083vw;
	line-height: 1.5vw;
}
.SpeakerHoverLinks {
	position: absolute;
	bottom: 1vw;
	left: 1vw;
}
.SpeakerHoverLinks a {
	color: #fff;
	font-size: 2.08vw;
	margin-right: 1vw;
}

.TwitterColor {
	color: #002b49;
}

.TwitterColor:hover {
	color:#FFF;
}
#CallForSpeakers {
	/*font-size: 30px;*/
	font-size: 1.5625vw;
	font-weight: 400;
	line-height: 300%;
	/*margin-bottom: 10px;*/
	margin-bottom: 0.520833vw;
}
#BecomeASpeakerButton {
	margin: 0 0 2.08333vw 0;
	max-width: 15.625vw;
	height: 3.64583vw;
	padding:0;
	font-size: 1.25vw;
	border: 3px solid #106ab5;
}
#BecomeASpeakerButton:hover {
	border: 3px solid #106ab5;
	background-color: rgba(0, 255, 255, 0);
}
@media  (max-width: 1416px) {
	.Square {
	width: 24vw;
	height: 24vw; /* match width for a 1:1 aspect ratio */
	/*margin: 0.25vw;*/
}
	
	}
@media (max-width: 1000px) {
#Speakers {
	font-size: 1.302vw;
	margin: 0 0.5% 1% 0.5%;
}
#Speakers h2 {
	font-size: 13.02083vw;
	margin-top: 5.46875vw;
	margin-bottom: 5.46875vw;
}
.Square {
	width: 47.60vw;
	height: 49vw; /* match width for a 1:1 aspect ratio */
	/*margin: 0.5vw;*/
}

.SpeakersImageContainer{
	margin: 0.5vw;
}

.SpeakerName {
	font-size: 4.1328125vw;
	margin: 3.515625vw 0 0 2vw;
	line-height: 3.125vw;
}
.SpeakerCompany {
	font-size: 2.48046875vw;
	margin: 2vw 0 0 2vw;
}
.SpeakerInfo {
	margin: 2vw 1vw 0 2vw;
	font-size: 1.953125vw;
	line-height: 3.125vw;
}
.SpeakerHoverLinks a {
	font-size: 4.166666vw;
	margin-right: 1.25vw;
	margin-left: 1vw
}
#CallForSpeakers {
	/*font-size: 30px;*/
	font-size: 3.90625vw;
	/*margin-bottom: 10px;*/
	margin-bottom: 1.2499992vw;
}
#BecomeASpeakerButton {
	margin: 0 0 5.208325vw 0;
	max-width: 39.0625vw;
	height: 9.114575vw;
	font-size: 3.125vw;
	border: 3px;
}


}

@media (max-width: 640px) {
#Speakers {
	font-size: 3.1248vw;
	margin: 0 0.5% 1% 0.5%;
}
#Speakers h2 {
	font-size: 13.75vw;
	margin-top: 9.375vw;
	margin-bottom: 9.375vw;
}
.Square {
	width: 95vw;
	height: 95vw; /* match width for a 1:1 aspect ratio */
	margin: 0 2vw 2vw 2vw;
}
.SpeakerName {
	font-size: 8.125vw;
	margin: 6vw 0 0 4.8vw;
	line-height: 7.5vw;
}
.SpeakerCompany {
	font-size: 5.953125vw;
	margin: 2.4vw 0 0 4.8vw;
}
.SpeakerInfo {
	margin: 2vw 4.8vw 0 4.8vw;
	font-size: 3.75vw;
	line-height: 5.9375vw;
}
.SpeakerHoverLinks a {
	font-size: 8.125vw;
	margin-right: 1.25vw;
	margin-left: 4.8vw
}
#SpeakersTernynckJ, #SpeakersMarkidesC, #SpeakersRussoL, #SpeakersSinekS, #SpeakersNelsonL {
	height: 0;
	overflow: hidden;
}
#CallForSpeakers {
	/*font-size: 30px;*/
	font-size: 6vw;
	/*margin-bottom: 10px;*/
	margin-bottom: 3vw;
}
#BecomeASpeakerButton {
	margin: 0 0 5.208325vw 0;
	max-width: 93.75vw;
	height: 21.87498vw;
	padding-top: 1vw;
	font-size: 7.5vw;
}

}
/*END Speakers */

/*Marketing Messages*/
#MarketingMSG {
  clear: both;
  background-image: url(../img/mainpage/marketingmsg/marketing-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 39vw;
  margin: 0 auto 0 auto;
  text-align: center;
} 

#MarketingText {
  font-size: 3vw;
  margin: 0 auto;
  width: 100%;
  font-weight:bold;
  max-width: 38vw;
  padding-top: 11.8vw;
  color:#1a1a18;
}

#MarketingText span {
	background-color:#106ab5;
	color:#ffffff;
	padding: 0 0.7vw;
	
}
@media (max-width: 640px) {
#MarketingMSG {

  min-height: 60vw;

} 
	
#MarketingText {
  font-size: 5vw;
  max-width: 60vw;
  padding-top: 19.2vw;
}
}


/*END Marketing Messages*/

/*Sponsors*/
#Sponsors {
	width: 100%;
	min-height: 71.8vw;
	margin: 0 auto;
	background-image: url(../img/mainpage/sponsors/sponsors-bg.jpg);
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	text-align: center;
	padding: 0.052083vw 0;
}
#Sponsors h2 {
	font-size: 3.20833vw;
	margin:70px 0 5px 0;
}
#Sponsors h5 {
	padding-top: 15px;
	font-size: 1.58333vw;
	font-weight: 500;
	margin-bottom: 3vw;
	clear: both;
}
.SponsorsWrapper {
	margin: 0 auto;
	max-width: 72vw;
	width: 100%;
}

.SponsorSquare {
	float: left;
	position: relative;
	width: 17.8vw;
	padding-bottom : 16%; /* match width for a 1:1 aspect ratio */
	/*margin: 2%;*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
    /*border-bottom: #322e2e solid 1px;
    border-right: #322e2e solid 1px;*/
}
.SponsorSquare:hover {
	/*transform: scale(1.1, 1.1);*/
	cursor: pointer;
}


.SponsorBorder {
		position: relative;
	
}

#ADP, .SquareWithNoBorder, #GloboForce, .EmptySquareSpecial {
	border-right: none;
}
#Sponsors .BlueButton {
	padding: 0;	
}
#ViewAllSponsorsButton {
	margin: 3vw 0 2.864583vw 0;
	max-width: 15.625vw;
	height: 3.64583vw;
	padding-top: 0vw;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	font-size: 1.25vw;
	border: 3px solid #106ab5;
}
#ViewAllSponsorsButton:hover {
	border: 3px solid #fff;
	color: #fff;
	background-color: rgba(255,255,255,0);
}

@media (max-width: 1280px) {
	#Sponsors {
	min-height: 74.45vw;
}
}


@media (max-width: 1000px) {
#Sponsors {
	height: auto;
	min-height: 252.2083vw;

}
#Sponsors h2 {
	margin-top: 8.463542vw;
	margin-bottom: 0;
	font-size: 13.02083vw;
}
#Sponsors h5 {
	font-size: 5.20833vw;
	margin-top: 5.20833vw;
	margin-bottom: 0;
}
.SponsorsWrapper, #DiamondSponsorsWrapper {
	max-width: 100%;
	padding-left: 0;
}
.SponsorSquare {
	width: 49%;
	padding-bottom : 29%; /* match width for a 1:1 aspect ratio */
	margin: 0 auto;
}

.EmptySquare{
	display:none;
	
}

#CornerStone, #Haufe, #GloboForce, #Careerbuilder, #SpecialSquare {
	border-right: none;
}
#ViewAllSponsorsButton {
	margin: 0 0 7.1614575vw 0;
	max-width: 39.0625vw;
	height: 9.114575vw;
	font-size: 3.125vw;
}
}

@media (max-width: 640px) {
#Sponsors {
	height: auto;
	min-height: 530.75vw;
}
#Sponsors h2 {
	margin-top: 12.5vw;
	margin-bottom: 0;
	font-size: 13.75vw;
}
#Sponsors h5 {
	font-size: 10.625vw;
	margin-top: 12.5vw;
	margin-bottom: 0;
}
.SponsorsWrapper {
	max-width: 100%;
}
.SponsorSquare {
	width: 100%;
	padding-bottom : 46%; /* match width for a 1:1 aspect ratio */
	margin: -6vw auto;
}

.EmptySquare, .EmptySquareSpecial, #SpecialSquare{
	display:none;
	
}
#ViewAllSponsorsButton {
	margin: 8vw 0 13.187498vw 0;
	max-width: 93.75vw;
	height: 21.87498vw;
	font-size: 7.5vw;
}

}  /*Messed up hover effect disabled by the will of God */


#IBM {
	background-image: url(../img/mainpage/sponsors/bw/ibm-bw-logo.png);
}
/*#IBM:hover {
	background-image: url(../img/mainpage/sponsors/ibm-logo.png);
}*/
#Workday {
	background-image: url(../img/mainpage/sponsors/bw/workday-bw-logo.png);
}
/*#Workday:hover {
	background-image: url(../img/mainpage/sponsors/workday-logo.png);
}*/
#CornerStone {
	background-image: url(../img/mainpage/sponsors/bw/cornerstone-bw-logo.png);
}
/*#CornerStone:hover {
	background-image: url(../img/mainpage/sponsors/cornerstone-logo.png);
}*/
#SF {
	background-image: url(../img/mainpage/sponsors/bw/sf-bw-logo.png);
}
/*#SF:hover {
	background-image: url(../img/mainpage/sponsors/sf-logo.png);
}*/
#ADP {
	background-image: url(../img/mainpage/sponsors/bw/adp-bw-logo.png);
}
/*#ADP:hover {
	background-image: url(../img/mainpage/sponsors/adp-logo.png);
}*/
#AppLearn {
	background-image: url(../img/mainpage/sponsors/bw/applearn-bw-logo.png);
}
/*#AppLearn:hover {
	background-image: url(../img/mainpage/sponsors/applearn-logo.png);
}*/

#CrossKnowledge {
	background-image: url(../img/mainpage/sponsors/bw/crossknowledge-bw-logo.png);
}
#Infor {
	background-image: url(../img/mainpage/sponsors/bw/infor-bw-logo.png);
}
#Careerbuilder {
	background-image: url(../img/mainpage/sponsors/bw/careerbuilder-bw-logo.png);
}
#CEB {
	background-image: url(../img/mainpage/sponsors/bw/ceb-bw-logo.png);
}

#Haufe {
	background-image: url(../img/mainpage/sponsors/bw/hauffe-bw-logo.png);
}
/*#Haufe:hover {
	background-image: url(../img/mainpage/sponsors/hauffe-logo.png);
}*/
#NGA {
	background-image: url(../img/mainpage/sponsors/bw/nga-bw-logo.png);
}
/*#NGA:hover {
	background-image: url(../img/mainpage/sponsors/nga-logo.png);
}*/
#GloboForce {
	background-image: url(../img/mainpage/sponsors/bw/globoforce-bw-logo.png);
}
/*#GloboForce:hover {
	background-image: url(../img/mainpage/sponsors/globoforce-logo.png);
}*/
#Indeed {
	background-image: url(../img/mainpage/sponsors/bw/indeed-bw-logo.png);
}
/*#Indeed:hover {
	background-image: url(../img/mainpage/sponsors/indeed-logo.png);
}*/
/*END Sponsors*/

/* Highlights */
#Highlights {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background-color: #f4f4f2;
}
#Highlights h2 {
	font-size: 5.2083vw;
	  margin: 2vw auto;
}
.HighlightSmallWrapper, .HighlightVideo {
	width: 50%;	
	display: inline-block; 
	float: left;
}
.HighlightBox { /*The smallest, 25% x 25% box in the grid*/
	text-align: left;	
}
.HighlightBox, .TwitterImage, .DescriptionImage {
	width: 50%;	
	height: 25vw;
	float: left;
}
.ResponsiveHighlightImage {
	width: 100%; 
	height: 25vw;	
}
.TwitterTextContainer, .DescriptionContainer {
	height: 25vw;
}
.TwitterTextContainer {
	color: #1a1a18;
	background-color: #e8e8e8;
}
.TwitterText {
	padding: 6.770833vw 2.60416vw 0 2.08333vw;
}
.TweetTitle {
	font-size: 1.354166vw;
	line-height: 1.66666vw;
	margin-bottom: 0.260416vw;
	
	font-weight: 300; 
	clear: both;
}
.TwitterIcon {
	width: 2.60416vw;
	height: 2.60416vw;
	float: left;
}
.TweetHeadline {
	float: left; 
	margin: 0.260416vw 0 2.08333vw 0.78125vw;
	font-size: 1.04166vw;
}
.TweetDate {
	font-size: 0.833333vw;
}
.TweetLink {
	font-size: 1.354166vw;
	margin-top: 1.041666vw;
	color: #00b0ed;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container-modal iframe { border: 0px; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.HighlightVideo, .embed-container, .embed-container iframe, .embed-container object, .embed-container embed {
	height: 100%;	
	max-height: 25vw;
}
.DescriptionContainer {
	background-color: #106ab5; 
	color: #fff;
}
.DescriptionText {
	padding: 8.59375vw 2.60416vw 0 2.08333vw;
}
.DescriptionHeadline {
	 width: 100%;
	 max-width: 17.70833vw;
	 font-size: 1.45833vw; 	
	 line-height: 1.875vw;
	 font-weight: 600;
	 margin-top: 0;
}
.Description {
	font-size: 1.25vw;
	line-height: 1.45833vw;	
	padding-right: 2.08333vw;
}
/*Richard Branson*/
#DescriptionTextRichardBranson {
	padding-top: 6.25vw;
}
#DescriptionTextRichardBranson .Description {
	padding-bottom: 1.04166vw;
}
#DescriptionTextRichardBranson .DescriptionHeadline {
	max-width: 100%;
}
/*HR Tech World Party*/
#HRTechWoldPartyText {
	padding-top: 6.77083vw;	
}
.TestimonialText {
	/*padding: 100px 135px 0px 45px;*/
	padding: 5.20833vw 7.03125vw 0 2.34375vw;
}
.Testimonial {/*
	font-size: 28px;
	margin-top: 50px;
	margin-bottom: 45px;*/
	font-size: 1.45833vw;
	margin-top: 2.60416vw;
	margin-bottom: 2.34375vw;
}
.TestimonialQuoteSign {
	width: 2.70833vw;
	height: auto;
}
#TimeWarnerLogo {
	width:	9.16666vw;
	height: auto;
}
#TestimonialMobileImage { display: none; }



#HighlightsLoadMoreButton {
	margin: 3.125vw 0;
	max-width: 15.625vw;
	height: 3.64583vw;
	font-size: 1.25vw;
	border: 3px solid #106ab5;
}
#HighlightsLoadMoreButton:hover {
	border: 3px solid #106ab5;
	background-color: rgba(0, 255, 255, 0)
}
@media (max-width: 1000px) {
	#Highlights h2 {
		font-size: 13.02083vw;
		margin-top: 7.1614583vw;
		margin-bottom: 7.1614583vw;
	}
	.HighlightSmallWrapper, .HighlightVideo {
		width: 100%;	
		display: block;
	}
	.HighlightBox, .TwitterImage, .DescriptionImage {
		height: 50vw;	
	}
	.ResponsiveHighlightImage {
		height: 50vw;	
	}
	.TwitterTextContainer, .DescriptionContainer {
		height: 50vw;
	}
	.HighlightVideo, .embed-container, .embed-container iframe, .embed-container object, .embed-container embed {
		max-height: 50vw;
	}
	.TwitterText {
		padding: 6.770833vw 2.60416vw 0 3.2552083vw;
	}
	.TweetTitle {
		font-size: 2.86458vw;
		line-height: 3.56665vw;
		margin-bottom: 0.65104vw;
		padding-right: 2vw;
		font-weight: light; 
		clear: both;
	}
	.TwitterIcon {
		width: 6.5104vw;
		height: 6.5104vw;
	}
	.TweetHeadline {
		float: left; 
		margin: 0.65104vw 0 5.208325vw 1.953125vw;
		font-size: 2.60415vw;
	}
	.TweetDate {
		font-size: 2.0833325vw;
	}
	.TweetLink {
		font-size:  2.86458vw;
		margin-top: 2.604165vw;
		color: #00b0ed;
	}
	.DescriptionText {
		padding: 16.927083vw 1.30208vw 0 4.208325vw;
	}
	.DescriptionHeadline {
		 width: 100%;
		 max-width: 36.45825vw;
		 font-size: 3.125vw; 	
		 line-height: 4vw;
		 font-weight: 600;
		 margin-top: 0;
	}
	.Description {
		font-size: 2.60416vw;
		line-height: 3.125vw;	
		padding-right: 5.208325vw;
	}
	#DescriptionTextRichardBranson {
		padding-top: 10.25vw;
	}
	#HRTechWoldPartyText {
		padding-top: 13.02083vw;	
	}
	
	.TestimonialText {
		/*padding: 100px 135px 0px 45px;*/
		padding: 10.020825vw 15.578125vw 0 4vw;
	}
	.Testimonial {/*
		font-size: 28px;
		margin-top: 50px;
		margin-bottom: 45px;*/
		font-size: 2.60416vw;
		margin-top: 5.5104vw;
		margin-bottom: 4.859375vw;
	}
	.TestimonialQuoteSign {
		width: 6.770825vw;
		height: auto;
	}
	#TimeWarnerLogo {
		width:	22.91665vw;
		height: auto;
	}
	#TestimonialMobileImage { display: block; }	
	#TestimonialDesktopImage { display: none; }	
	
	#HighlightsLoadMoreButton {
		margin: 7.8125vw 0;
		max-width: 39.0625vw;
		height: 9.114575vw;
		padding-top: 0.65104vw;
		font-size: 3.125vw;
	}	
}

@media (max-width: 640px) {	
	#Highlights h2 {
		font-size: 13.75vw;
		margin-top: 11.25vw;
		margin-bottom: 11.25vw;
	}
	.TwitterText {
		padding: 3.125vw 0px 0px 3.125vw;
	}
	.TwitterIcon {
		width: 9.375vw;
		height: 9.375vw;
	}
	.TweetHeadline {
		float: left; 
		margin: 0px 0 3.125vw 3.125vw;
		font-size: 3.75vw;
	}
	.TweetDate {
		font-size: 3.4375vw;
	}
	.TweetTitle {
		font-size: 3.4375vw;
		line-height: 5vw;
		margin-bottom: 0;
		font-weight: light; 
		clear: both;
	}
	.TweetLink {
		font-size: 3.4375vw;
		line-height: 5vw;
		margin-top: 1.5625vw;
		color: #00b0ed;
	}
	.DescriptionText {
		padding: 15.625vw 1.50208vw 0 4.208325vw;
	}
	.DescriptionHeadline {
		 width: 100%;
		 max-width: 100%;
		 font-size: 3.4375vw; 	
		 line-height: 4.375vw;
		 font-weight: 600;
		 margin-top: 0;
	}
	.Description {
		font-size: 3.4375vw;
		line-height: 3.75vw;	
		padding-right: 10.5vw;
	}
	#DescriptionTextRichardBranson {
		padding-top: 3.125vw;
	}
	#HRTechWoldPartyText {
		padding-top: 9.375vw;	
	}
	
	.TestimonialText {
		/*padding: 100px 135px 0px 45px;*/
		padding: 5.020825vw 6.578125vw 0 4vw;
	}
	.Testimonial {/*
		font-size: 28px;
		margin-top: 50px;
		margin-bottom: 45px;*/
		font-size: 3.4375vw;
		margin-top: 3.5104vw;
		margin-bottom: 2.859375vw;
	}
	.TestimonialQuoteSign {
		width: 6.770825vw;
		height: auto;
	}
	#TimeWarnerLogo {
		width:	22.91665vw;
		height: auto;
	}	
	
	#HighlightsLoadMoreButton {
		margin: 9.375.75vw 0;
		max-width: 93.75vw;
		height: 21.87498vw;
		padding-top: 1.562496vw;
		font-size: 7.5vw;
	}	
}

#HighlightsMore {
	display: none;	
}

/* END Highlights */

/* Venue */
#Venue {
	background-image: url(../img/mainpage/venue/venue-bg.jpg);
	background-size: cover;
	background-position: top center;
	text-align: center;
	padding: 3.6458vw 1.8229vw 5.9895vw 1.8229vw;
	box-sizing: border-box; /* if it is turned off (default: content-box) the [#Venue p] center alignment (margin: 0 auto) won't work */
}
#Venue h2 {
	font-size: 5.2083vw;
	margin: 0 0 2.34375vw 0;
}
#Venue h5 {
	font-size: 2.0833vw;
	line-height: 2.9166vw;
	text-transform: uppercase;
	width: 100%;
	margin: 0 auto;
}
#Venue p {
	width: 100%;
	max-width: 39.0625vw;
	margin: 4.6875vw auto 7.2916vw auto;
	font-size: 1.25vw;
	line-height: 1.8229vw;
}
#Venue .fa-map-marker {
	font-size: 3.64583vw;
	color: #f3f3f2;
	opacity: 0.8;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
}
#Venue h6 {
	font-size: 1.25vw;
	font-weight: bold;
	margin-top: 1.5625vw;
	margin-bottom: 0;
	transition: all 0.3s;
}
#GetDirections {
	display: block;
}
#GetDirections:hover h6 {
	color: #fff;
}
#GetDirections:hover .fa-map-marker {
	opacity: 1;
}

@media (max-width: 1000px) { /* TABLET view */
#Venue {
	padding: 6.51041vw 4.55729vw 15.625vw 4.55729vw;
}
#Venue h2 {
	font-size: 13.02083vw;
	margin: 0 0 5.859375vw 0;
}
#Venue h5 {
	font-size: 5.20833vw;
	line-height: 7.29166vw;
	max-width: 48.828125vw;
}
#Venue p {
	max-width: 91.14583vw;
	margin: 11.71875vw auto 18.22916vw auto;
	font-size: 3.125vw;
	line-height: 4.55729vw;
}
#Venue .fa-map-marker {
	font-size: 9.11458vw;
}
#Venue h6 {
	font-size: 3.125vw;
	margin-top: 3.90625vw;
}
}

@media (max-width: 640px) { /* MOBILE view  */
#Venue {
	padding: 15.625vw 7.8125vw 18.75vw 7.8125vw;
}
#Venue h2 {
	font-size: 13.75vw;
}
#Venue h5 {
	font-size: 9.375vw;
	line-height: 17.1875vw;
	max-width: 87.5vw;
}
#Venue p {
	margin: 18.75vw auto 21.875vw auto;
	font-size: 6.25vw;
	line-height: 10.9375vw;
}
#Venue .fa-map-marker {
	font-size: 21.875vw;
}
#Venue h6 {
	font-size: 7.5vw;
	margin-top: 9.375vw;
}
}
/* END Venue */

/* Future of Work */
#FutureOfWork {
	background-color: #f4f4f2;
	background-image: url(../img/mainpage/futureofwork/fow-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 80px;
}
#FutureOfWorkWrapper {
	width: 100%;
	max-width: 78vw;
	margin: 0 auto;
}
#FutureOfWorkWrapper h2 {
	font-size: 60px;
	font-weight: 700;
	margin: 0 0 70px 0;
	text-transform: uppercase;
}
#FutureOfWorkWrapper > p {
	font-size: 24px;
	line-height: 36px;
	width: 100%;
	max-width: 52vw;
	margin: 0 auto;
	padding: 0;
}
#TicketPriceContainer {
	width: 100%;
	max-width: 765px;
	margin: 0 auto;
	margin-top: 65px;
	margin-bottom: 40px;	
}
#FutureTicketsTwoForOne {
	padding-bottom: 2vw;
}

@media (max-width: 800px) {
	#TicketPriceContainer {
		max-width: 700px;
	}
}
.TicketPrice {
	width: 100%;
	max-width: 45vw;
	display: inline-block;
}

.TicketSpan {
	padding: 0 1vw;	
}
#OneDelegate {
	float: left;	
}
#Group {
	float: right;	
}
.TicketPrice h3 {
	font-size: 36px;
	margin: 0;	
	font-weight: 700;
	line-height: 30px;
}
.TicketPrice h3 .EachTicket {
	font-size: 18px;
}

.TicketPrice p {
	font-size: 20px;
	margin: 10px 0 0 0;
}
#TicketPastPrice {
	
	-moz-text-decoration-color: red; /* Code for Firefox */
    text-decoration-color: red;
	-webkit-text-decoration-color: red;
	
}
#FutureOfWork button {
	max-width: 330px;
	height: 70px;
	margin: 0 25px;
	font-size: 24px;
	color: #106ab5;
	background-color: rgba(255, 255, 255, 0);
	border: 3px solid #106ab5;
	transition: all 0.3s ease-in;
}
#FutureOfWork button:hover {
	background-color: #106ab5;
	color: #fff;
	border: 3px solid #106ab5;
}
@media (max-width: 640px) {
	#FutureOfWork {
		padding-top: 23.4375vw;
		padding-bottom: 15.625vw;
	}
	#FutureOfWorkWrapper h2 {
		font-size: 11.25vw;
		margin: 0 0 15.625vw 0;
	}
	#FutureOfWorkWrapper > p {
		font-size: 6.25vw;
		line-height: 10.9375vw;
		max-width: 84.375vw;
	}
	#TicketPriceContainer {
		max-width: 100%;
		margin-top: 14.0625vw;
		margin-bottom: 15.625vw;	
	}
	.TicketPrice {
		width: 100%;
		max-width: 93.75vw;
		margin: 0 auto;
	}
	#OneDelegate {
		float: none;	
		margin-bottom: 9.375vw;
	}
	#Group {
		float: none;	
	}
	.TicketPrice h3 {
		font-size: 7.5vw;
	}
	.TicketPrice h3 .EachTicket {
		font-size: 4.375vw
	}
	.TicketPrice p {
		font-size: 5.625vw;
		margin: 1.5625vw 0 0 0;
	}
	#FutureOfWork button {
		max-width: 93.75vw;
		height: 21.875vw;
		margin: 0 auto;
		font-size: 7.5vw;
		border: 0.9375vw solid #106ab5;
	}
	
	#FutureTicketsTwoForOne {
	padding-bottom: 5vw;
}

	
}


/* END Future of Work */

/* FOOTER */
footer {
	background-color: #106ab5;
	text-align: center;
	color: #feffff;
}
footer h2 {
	font-size: 3.125vw;
	margin: 0;
	padding-top: 3.385416vw;
	/*margin-bottom: 45px;*/
	margin-bottom: 2.34375vw;
	font-weight: 700;
}
.Contact { 			/* telephone numbers and email address in the Get in Touch section */
	display: inline-block;
	font-size: 1.25vw;
	margin: 0.9375vw;
	color: #feffff;
}
.Contact .fa {
	padding-right: 0.520833vw;
}
#GetInTouchButtonContainer {  /* A wrapper to the DOWNLOAD BROCHURE and REGISTER TODAY buttons */
	/*padding-top: 60px;
	padding-bottom: 90px;*/
	padding-top: 3.125vw;
	padding-bottom: 4.6875vw;
}
#GetInTouchButtonContainer button {
	max-width: 17.1875vw;
	height: 3.645833vw;
	margin: 0 1.302083vw;
	font-size: 1.25vw;
	color: #fff;
	background-color: rgba(255, 255, 255, 0);
	border: 0.15625vw solid #fff;
	transition: all 0.3s ease-in;
}
#GetInTouchButtonContainer button:hover {
	background-color: #fff;
	color: #106ab5;
	border: 0.15625vw solid #fff;
}

#FooterSocialIconsContainer { /* Wrapper for the twitter, facebook, linkedin, slideshare, flickr icons. 1100px wide. */
	width: 100%;
	max-width: 57.29166vw;
	margin: 0 auto;
	padding-bottom: 5.20833vw;
}
.FooterSocialIcon {  /* Defines a social icon: the icon itself is a DIV element with a background image */
	display: inline-block;
	background-size: cover;
	width: 4.427083vw;
	height: 4.427083vw;
	margin-left: 3.125vw;
	margin-right: 3.125vw;
}
#FooterTwitter {
	background-image: url(../img/mainpage/getintouch/twitter-icon.png);
}
#FooterTwitter:hover {
	background-image: url(../img/mainpage/getintouch/twitter-icon-hover.png);
}
#FooterFacebook {
	background-image: url(../img/mainpage/getintouch/facebook-icon.png);
}
#FooterFacebook:hover {
	background-image: url(../img/mainpage/getintouch/facebook-icon-hover.png);
}
#FooterLinkedIn {
	background-image: url(../img/mainpage/getintouch/linkedin-icon.png);
}
#FooterLinkedIn:hover {
	background-image: url(../img/mainpage/getintouch/linkedin-icon-hover.png);
}
#FooterSlideShare {
	background-image: url(../img/mainpage/getintouch/slideshare-icon.png);
}
#FooterSlideShare:hover {
	background-image: url(../img/mainpage/getintouch/slideshare-icon-hover.png);
}
#FooterFlickr {
	background-image: url(../img/mainpage/getintouch/flickr-icon.png);
}
#FooterFlickr:hover {
	background-image: url(../img/mainpage/getintouch/flickr-icon-hover.png);
}
/* From this point you can find the definitions of the most bottom, transparent part of the footer 
   It contains the following texts:
   - HR Tech World Congress
   - Copyright © 2015 HRN Europe. All Rights Reserved.
   - Privacy Policy | Terms and Conditions 
*/
#TransparentFooter {
	width: 100%;
	padding-top: 1.822916vw;
	padding-bottom: 1.822916vw;
	background-color: #002b49;
}
.TransparentFooterText {
	display: inline-block;
	margin: 0 1.5625vw;
}
.WorldCongressText {
	font-size: 1.25vw;
}
#WorldCongressTextMobile {
	display: none;
}
#CopyrightText, #PrivacyText {
	font-size: 0.83333vw;
	color: #f4f4f2;
	font-weight: 400;
}

.Contact a {
	color: white;	
}

@media (max-width: 1000px) { /* TABLET view */
footer h2 {
	font-size: 7.8125vw;
	margin: 0;
	padding-top: 8.463542vw;
	/*margin-bottom: 45px;*/
	margin-bottom:5.859375vw;
}
.Contact {
	font-size: 2.60416vw;
	margin: 2.34375vw;
}
.Contact .fa {
	padding-right: 1.302083vw;
}
#GetInTouchButtonContainer {  /* A wrapper to the DOWNLOAD BROCHURE and REGISTER TODAY buttons */
	padding-top: 7.8125vw;
	padding-bottom: 11.71875vw;
}
#GetInTouchButtonContainer button {
	max-width: 42.96875vw;
	margin: 1vw 3.255208vw;
	height: 9.11458vw;
	font-size: 3.125vw;
	border: 0.390625vw solid #fff;
}
#GetInTouchButtonContainer button:hover {
	border: 0.390625vw solid #fff;	
}



#FooterSocialIconsContainer { /* Wrapper for the twitter, facebook, linkedin, slideshare, flickr icons. 1100px wide. */
	width: 100%;
	max-width: 93.75vw;
	margin: 0 auto;
	padding-bottom: 13.02083vw;
}
.FooterSocialIcon {  /* Defines a social icon: the icon itself is a DIV element with a background image */
	width: 11.06771vw;
	height: 11.06771vw;
	margin-left: 3.255208vw;
	margin-right: 3.255208vw;
}
#TransparentFooter {
	padding-top: 3.255208vw;
	padding-bottom: 2.60416vw;
}
.TransparentFooterText {
	margin: 0 3.90625vw;
}
.WorldCongressText {
	font-size: 3.125vw;
}
#CopyrightText, #PrivacyText {
	font-size: 2.0833vw;
}
#PrivacyText {			/* The Privacy text is exactly under the Copyright text with a lot of left whitespace (STRICTLY following the mockup) */
	margin-left: 31.9010416vw;
	margin-top: 1.953125vw;
}
}

@media (max-width: 640px) { /* mobile view: font-size and whitespace changes. The phone numbers and email address stack beneath eachother */
footer h2 {
	font-size: 11.25vw;
	padding-top: 14.0625vw;
	margin-bottom: 13.1875vw;
}
.Contact {
	display: block;
	margin: 1.5625vw;
	font-size: 6.25vw;
	margin: 2.34375vw;
	line-height: 10vw;
	padding-top: 0vw;
}
.Contact .fa {
	padding-right: 3.125vw;
}
#GetInTouchButtonContainer {
	padding-top: 14.0625vw;
	padding-bottom: 12.5vw;
}
#GetInTouchButtonContainer button { /* Turning the inline-block button to block element then centering them vertically */
	display: block;
	margin: 0 auto;
	max-width: 93.75vw;
	font-size: 6.25vw;
	height: 21.875vw;
	border: 0.9375vw solid #fff;
}
#GetInTouchButtonContainer button:hover {
	border: 0.9375vw solid #fff;	
}

#GetInTouchButtonContainer #DownloadBrochureButton { /* Add a little whitespace between the buttons */
	margin-bottom: 7.8125vw;
}
#FooterSocialIconsContainer {
	padding-bottom: 14.0625vw;
}
.FooterSocialIcon {
	width: 12.5vw;
	height: 12.5vw;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
}
#TransparentFooter {
	padding-top: 6.25vw;
	padding-bottom: 6.25vw;
}
.WorldCongressText {  /* Hide the "HR Tech World Congress" text in the transparent part of the footer */
	display: none;
}
#WorldCongressTextMobile { /* Show the "HR Tech World Congress text above the transparent part of the footer */
	display: block;
	margin-top: 0;
	margin-bottom: 10.9375vw;
	font-size: 5.9375vw;
}
#CopyrightText, #PrivacyText {
	font-size: 4.0625vw;
}
#CopyrightText {
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 59.375vw;
	line-height: 8.4375vw;
}
#PrivacyText {
	margin-top: 0px;
	margin-left: 0px;
}
}
/* END FOOTER */


/* Go to Top button */
#GoTopImg {
	background-color: rgba(10, 66, 113, 0.57);
	width: 54px;
	height: 54px;
	bottom: 25px;
	right: 25px;
	text-align: center;
	position: fixed;
	z-index: 1800;
	transition: all 0.3s;
}
#GoTopImg:hover {
	background-color: rgba(10, 66, 113, 1);
}
#GoTopImg .fa {
	font-size: 30px;
	color: #f4f4f2;
	padding-top: 10px;
}
/* END Go to Top button */
