@charset "utf-8";
/* These CSS rules will affect the sponsors page.  */


/* Header */
header {
	background-image:url(../img/sponsors/sponsors-list-header-background.jpg);
	background-repeat:no-repeat;
	background-size: contain;
	width:100%; 
	color:#fff;
	padding-left: 10.41666vw;
	padding-top: 3.125vw;
	padding-bottom: 3.3854166vw;
	margin-top: 4.0625vw;
}
header h1 {
	font-size:5.20833vw;
	margin-top: 0;
	margin-bottom:0.2604166vw;
}
header p {
	width: 100%;
	max-width:30.46875vw;
	font-size:1.25vw;
	line-height: 1.875vw;
}
header button {
	font-size: 1.041666vw;
	font-weight: 600;
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
	border: 2px solid #fff;
	padding: 0;
	max-width: 13.28125vw;
	height: 3.125vw;
	vertical-align: bottom;
	transition: all 0.3s ease-in;
}
header button:hover {
	background-color: #106ab5;
	border: 2px solid #106ab5;
}
#HeaderWhosWhoLogo {
	width: 9.895833vw;
	height: 3.802083vw;
	margin-left: 2.864583vw;
}
@media (max-width: 1000px) {
	header {
		margin-top: 15.1vw;	
	}
}
@media (max-width: 767px) {
	/* hide the full-width header at 767px and below. Add margin to the #SponsorLists section to separate it from the menu. */
	header {
		display: none;	
	}
	#SponsorLists {
		margin-top: 23vw;		
	}
}
/* END Header */

	
/* SponsorLists */
#SponsorLists {
	width: 100%;
	background-color: #f4f4f2;
}

/*sponsor anchor*/
.anchorclass{
	display: block; 
	position: relative; 
	top: -80px; 
	visibility: hidden;
}
@media (max-width: 1000px) {
	.anchorclass{	
		top: -150px; 
	}
}
@media (max-width: 480px) {
	.anchorclass{	
		top: -100px; 
	}
}





#SponsorListsInnerContainer {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}
#PoweredByWhosWhoLogo {
	margin-top: 2.0833vw;
}
.SponsorListHeadline {
	width: 60%; 
	text-align: center; 
	/*background-image: url(../img/sponsors/headline-background-desktop.png); */
	padding: 0px; 
	background-position: center center; 
	font-size: 40px;
	background-size: cover;
	font-weight: 500;
    margin: 65px auto;
}
.SponsorListHeadline span {
	margin-left: -0.260416vw;
}

.SponsorList {
	text-align:justify;
}
.SponsorListLogo, .SponsorListDetails {
	display: block;
	margin: 0 auto;
	vertical-align: top;
}	
.SponsorListLogo {
	/*width: 200px;*/
	text-align: center;
	padding-top: 50px;	
}
.SponsorListLogo img {
	width: auto;
	/*max-width: 200px;*/
	max-width: 285px;
	height: auto;
	max-height: 100px;
	margin-bottom: 3vw;
}
.SponsorListDetails {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	font-size: 1.04166vw;
	color: #322f2f;
	/*font-size: 17px;*/
}
.SponsorListName {
	font-size: 25px;
	margin-top: 0;
	margin-bottom: -5px;
	line-height: 150%;
	color: #322f2f;
}
.SponsorListName a {
	color: #322f2f;
	transition: all 0.3s;
}
.SponsorListName a:hover {
	color: #106ab5;
	text-decoration: none;
}
.SponsorListName .fa-external-link {
	font-size: 1.14583vw;
	padding-left: 0.260416vw;
	color: #106ab5;	
}
.SponsorListDescription {
	margin-bottom: 25px;
	font-size: 17px;
	width: 100%;
	/*max-width: 650px;*/
	line-height: 150%;
}
.SponsorListSocialIcons {
	/*display: inline-block;*/
	text-align: center;
    margin: 0 auto 40px auto;
	padding-left: 12px;
}
.SponsorListSocialIcon {
	display: inline-block;	
	background-repeat: no-repeat;
	width: 2.60416vw;
	height: 2.65625vw;
	margin-right: 0.78125vw;
}
.SponsorListFacebookIcon {
	background-image: url(../img/sponsors/facebook-icon.png);
	background-size: cover;
}
.SponsorListTwitterIcon {
	background-image: url(../img/sponsors/twitter-icon.png);
	background-size: cover;
}
.SponsorListLinkedinIcon {
	background-image: url(../img/sponsors/linkedin-icon.png);
	background-size: cover;
}
.SponsorListBlogIcon {
	background-image: url(../img/sponsors/blog-icon.png);
	background-size: cover;
}
.SponsorListLinkIcon {
	background-image: url(../img/sponsors/link-icon.png);
	background-size: cover;
}

@media (max-width: 1500px) {

.SponsorListHeadline {
	width: 80%; 
}

}

@media (max-width: 1200px) {

.SponsorListHeadline {
	width: 100%; 
}

}

@media (max-width: 1920px) {
	.SponsorListDetails {
		font-size: 20px;
	}
	.SponsorListName .fa-external-link {
		font-size: 22px;
	}
	.SponsorListSocialIcon {
		width: 36px;
		height: 37px;
	}
	
}
@media (max-width: 1390px) {
	#SponsorListsInnerContainer {
		max-width: 90%;	
	}
}
@media (max-width: 1022px) {
	.SponsorListLogo {
		text-align: center;	
		padding-top: 0;
		width: 100%;
	}
	.SponsorListName {	
		text-align:center;
	}	
}


@media (max-width: 1000px) {

	

	#PoweredByWhosWhoLogo {
		margin-top: 40px;
	}

	.SponsorList {	
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 65px;
	}
	
	.SponsorListDetails {
		width: 100%;
		margin: 0 auto;
		font-size: 17px;	
	}
	.SponsorListName {
		font-size: 25px;
		margin-top: 15px;
	}
	.SponsorListName .fa-external-link {
		font-size: 22px;
		padding-left: 5px;	
	}
	.SponsorListSocialIcon {
		width: 45px;
		height: 46px;
		margin-right: 17px;
	}
	
	.SponsorListLogo img {
	margin-bottom: 8vw;
}
	
}


@media (max-width: 640px) {
	.SponsorList {	
		padding-left: 15px;
		padding-right: 15px;
	}
	#SponsorListsInnerContainer {
		background: none;	
		padding-top: 0;
		margin-top: 0;
	}
	#WhosWhoAndDiamondImageContainer {
		width: 100%;
		max-width: 320px;
		margin: 0 auto;	
	}
	#PoweredByWhosWhoLogo {
		width: 280px;
		height: auto;
	}
	.SponsorListHeadline {
		
		width: 90%;
		font-size: 28px;
		background-image:none;
	}
	.SponsorListDetails {
		padding-left: 10px;
		padding-right: 5px;
		box-sizing: border-box;
	}
	.SponsorListName {
		margin-bottom: 15px;	
	}
	.SponsorListName .fa-external-link {
		font-size: 20px;
		padding-left: 5px;	
	}	
	.SponsorListDescription {
		font-size:13px;
	}
	.SponsorListSocialIcons {
		float: none;
		display: block;	
		margin-top: 30px;
	}
	.SponsorListSocialIcon {
		margin-left: 0; 
		margin-right: 15px;	
		width: 41px;
		height: 42px;
	}
}

/*End SponsorLists */



/* Go to Top button */
#GoTopImg {
	background-color: rgba(10, 66, 113, 0.57);
	width: 54px;
	height: 54px;
	bottom: 25px;
	right: 25px;
	text-align: center;
	position: fixed;
	z-index: 10000;
	transition: all 0.3s;
}
#GoTopImg:hover {
	background-color: rgba(10, 66, 113, 1);
}
#GoTopImg .fa {
	font-size: 30px;
	color: #f4f4f2;
	padding-top: 10px;
}
/* END Go to Top button */

/* Sponsors Modal */
.SponsorModal {
	padding: 0;
	position: fixed;
	top: 0 !important;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
}


.SponsorModalInnerContainer {
	text-align:justify;
}
.SponsorModalLogo, .SponsorModalDetails {
	display: block;
	margin: 0 auto;
	vertical-align: top;
}	
.SponsorModalLogo {
	/*width: 200px;*/
	text-align: center;
	padding-top: 50px;	
}
.SponsorModalLogo img {
	width: auto;
	/*max-width: 200px;*/
	max-width: 285px;
	height: auto;
	max-height: 100px;
	margin-bottom: 3vw;
}
.SponsorModalDetails {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	font-size: 1.04166vw;
	color: #322f2f;
	/*font-size: 17px;*/
}
.SponsorModalName {
	font-size: 25px;
	margin-top: 0;
	margin-bottom: -5px;
	line-height: 150%;
	color: #322f2f;
}
.SponsorModalName a {
	color: #322f2f;
	transition: all 0.3s;
}
.SponsorModalName a:hover {
	color: #106ab5;
	text-decoration: none;
}
.SponsorModalName .fa-external-link {
	font-size: 1.14583vw;
	padding-left: 0.260416vw;
	color: #106ab5;	
}
.SponsorModalDescription {
	margin-bottom: 25px;
	font-size: 17px;
	width: 100%;
	/*max-width: 650px;*/
	line-height: 150%;
}
.SponsorModalSocialIcons {
	/*display: inline-block;*/
	text-align: center;
    margin: 0 auto 40px auto;
	padding-left: 12px;
}
.SponsorModalSocialIcon {
	display: inline-block;	
	background-repeat: no-repeat;
	width: 2.60416vw;
	height: 2.65625vw;
	margin-right: 0.78125vw;
}
.SponsorModalFacebookIcon {
	background-image: url(../img/sponsors/facebook-icon.png);
	background-size: cover;
}
.SponsorModalTwitterIcon {
	background-image: url(../img/sponsors/twitter-icon.png);
	background-size: cover;
}
.SponsorModalLinkedinIcon {
	background-image: url(../img/sponsors/linkedin-icon.png);
	background-size: cover;
}
.SponsorModalBlogIcon {
	background-image: url(../img/sponsors/blog-icon.png);
	background-size: cover;
}
.SponsorModalLinkIcon {
	background-image: url(../img/sponsors/link-icon.png);
	background-size: cover;
}


@media (max-width: 1920px) {
	.SponsorModalDetails {
		font-size: 20px;
	}
	.SponsorModalName .fa-external-link {
		font-size: 22px;
	}
	.SponsorModalSocialIcon {
		width: 36px;
		height: 37px;
	}
	
}

@media (max-width: 1022px) {
	.SponsorModalLogo {
		text-align: center;	
		padding-top: 0;
		width: 100%;
	}
	.SponsorModalName {	
		text-align:center;
	}	
}


@media (max-width: 1000px) {

	

	.SponsorModalInnerContainer {	
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 65px;
	}
	
	.SponsorModalDetails {
		width: 100%;
		margin: 0 auto;
		font-size: 17px;	
	}
	.SponsorModalName {
		font-size: 25px;
		margin-top: 15px;
	}
	.SponsorModalName .fa-external-link {
		font-size: 22px;
		padding-left: 5px;	
	}
	.SponsorModalSocialIcon {
		width: 45px;
		height: 46px;
		margin-right: 17px;
	}
	
	.SponsorModalLogo img {
	margin-bottom: 8vw;
}
	
}


@media (max-width: 640px) {
	.SponsorModalInnerContainer {	
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 50px;
	}
	.SponsorModalDetails {
		padding-left: 10px;
		padding-right: 5px;
		box-sizing: border-box;
	}
	.SponsorModalName {
		margin-bottom: 15px;	
	}
	.SponsorModalName .fa-external-link {
		font-size: 20px;
		padding-left: 5px;	
	}	
	.reveal-modal .SponsorModalInnerContainer p {
		font-size:13px;
		line-height: 150%;
		text-align: justify;
	}
	.SponsorModalSocialIcons {
		float: none;
		display: block;	
		margin-top: 30px;
	}
	.SponsorModalSocialIcon {
		margin-left: 0; 
		margin-right: 15px;	
		width: 41px;
		height: 42px;
	}
}

/*End Sponsors */