@charset "utf-8";
/* CSS Document for the Venue page */

body {
	background-color: #fff;	
}
body * {
	box-sizing: border-box;	
}

/* Header */
header {
	width: 100%;
	height: 26.666666vw;
	background-image: url(../img/venue/venue-bg.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	margin-top: 4.0625vw;
}
header h1 {
	font-size: 3.854166vw;
	color: #feffff;
	margin: 0;
	padding-top: 3.645833vw;
	margin-bottom: 0.9375vw;
}
header h2 {
	font-size: 1.875vw;
	color: #efed44;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 3.125vw;
}
header p {
	font-size: 1.145833vw;
	line-height: 1.875vw;
	color: #fff;
	width: 100%;
	max-width: 34.375vw;
	margin: 0 auto;
}
@media (max-width: 1000px) {
	header {
		margin-top: 15.5vw;	
		height: 44.270833vw;
	}
	header h1 {
		font-size: 6.5104166vw;
		padding-top: 6.5104166vw;
		margin-bottom: 1.041666vw;
	}
	header h2 {
		font-size: 3.125vw;
		margin-bottom: 4.8177083vw;
	}
	header p {
		font-size: 1.953125vw;
		line-height: 3.125vw;
		max-width: 58.59375vw;
	}
}
@media (max-width: 640px) {
	header {
		height: 104.6875vw;
	}
	header h1 {
		font-size: 13.75vw;
		padding-top: 12.5vw;
		margin-bottom: 3.125vw;
	}
	header h2 {
		font-size: 6.5625vw;
		margin-bottom: 10.9375vw;
	}
	header p {
		font-size: 4.0625vw;
		line-height: 6.25vw;
		max-width: 87.5vw;
	}
}
/* END Header */

/* Flights */
#FlightOffer {
	width: 100%;
	padding-left: 5.729166vw;
	padding-top: 3.90625vw;
	padding-bottom: 4.6875vw;
}
#AirplanePhoto, #IDCode, #FlightDescription {
	display: inline-block;
	vertical-align: top;	
}
#AirplanePhoto {
	width: 32.70833vw;
	height: 13.177083vw;
	margin-top: 2.5vw;	
}
#IDCode {
	width: 100%;
	max-width: 23.177083vw;	
	color: #4b4b4b;
	margin-left: 5.46875vw;
	margin-right: 4.9479166vw;
}
#IDCode img {
	width: 20.260416vw;
	height: 3.4375vw;	
}
#IDCode h2 {
	font-size: 1.5625vw;
	line-height: 2.447916vw;
	margin-top: 2.34375vw;
	margin-bottom: 1.8229166vw;
}
#IDCode p {
	font-size: 1.25vw;
	line-height: 2.08333vw;
	margin: 0;
}
#FlightDescription {
	width: 100%;
	max-width: 23.177083vw;
	margin-top: 6.25vw;
}
#FlightDescription p {
	font-size: 1.145833vw;
	line-height: 1.979166vw;
	margin: 0;	
}
@media (max-width: 1000px) {
	#FlightOffer {
		padding-left: 7.8125vw;
		padding-top: 6.510416vw;
		padding-bottom: 7.8125vw;
	}
	#AirplanePhoto {
		display: none;
	}	
	#IDCode {
		max-width: 39.0625vw;	
		margin-left: 0;
		margin-right: 7.16145833vw;
	}
	#IDCode img {
		width: 35.02604166vw;
		height: 6.25vw;	
	}
	#IDCode h2 {
		font-size: 2.604166vw;
		line-height: 4.16666666vw;
		margin-top: 3.645833vw;
		margin-bottom: 2.604166vw;
	}
	#IDCode p {
		font-size: 2.083333vw;
		line-height: 3.3854166vw;
	}	
	#FlightDescription {
		max-width: 38.4114583vw;
		margin-top: 11.0677083vw;
	}
	#FlightDescription p {
		font-size: 1.908854166vw;
		line-height: 3.3854166vw;	
	}	
}
@media (max-width: 640px) {
	#FlightOffer {
		padding-left: 10.9375vw;
		padding-top: 13.4375vw;
		padding-bottom: 20.3125vw;
	}	
	#IDCode {
		max-width: 81.25vw;	
		margin: 0 auto;
	}
	#IDCode img {
		width: 70.625vw;
		height: 12.1875vw;	
	}
	#IDCode h2 {
		font-size: 5.4375vw;
		line-height: 8.75vw;
		margin-top: 7.8125vw;
		margin-bottom: 6.25vw;
	}
	#IDCode p {
		font-size: 4.375vw;
		line-height: 6.875vw;
	}	
	#FlightDescription {
		max-width: 79.6875vw;	
		margin: 0 auto;
		margin-top: 9.375vw;
	}
	#FlightDescription p {
		font-size: 4.0625vw;
		line-height: 7.1875vw;	
	}		
}
/* END Flights */

/* How To Get There */
#HowToGetThere {
	width: 100%;
	background-color: #fff;	
	padding-top: 3.125vw;
	padding-bottom: 5.208333vw;
	position: relative;
}
#HowToGetThere h2 {
	font-size: 3.75vw;
	margin: 0;
	margin-bottom: 4.6875vw;
	text-align: center;
	text-transform: uppercase;
}
#TravelOpportunities {
	width: 100%;
	max-width: 34.8958333vw;
	margin-left: 9.6354166vw;	
}
.TravelContainer img, .TravelContainer p {
	display: inline-block;
	vertical-align: top;
}
#RATP-logo {
	width: 3.854166vw;
	height: 4.635416vw;	
}
.TravelLogo {
	width: 3.90625vw;
	height: 3.90625vw;	
}
.TravelContainer p {
	width: 100%;
	max-width: 28.125vw;	
	font-size: 1.1458333vw;
	line-height: 2.083333vw;
	margin-bottom: 2.604166vw;
	margin-top: -0.520833vw;
	margin-left: 2.0833333vw;
	color: #4c4c4c;
}
#Map {
	width: 38.802083vw;
	height: 33.33333vw;
	position: absolute;
	right: 9.6354166vw;
	top: 11.979166vw;
}
@media (max-width: 1000px) {
	#HowToGetThere {
		padding-top: 5.859375vw;
		padding-bottom: 9.765625vw;
	}
	#HowToGetThere h2 {
		font-size: 6.5104166vw;
		margin-bottom: 8.46354166vw;
	}
	#TravelOpportunities {
		max-width: 57.29166vw;
		margin-left: 20.18229166vw;
		margin-bottom: 3.2552083vw;
	}
	#RATP-logo {
		width: 6.38020833vw;
		height: 7.68229166vw;	
	}
	.TravelLogo {
		width: 6.5104166vw;
		height: 6.5104166vw;	
	}
	.TravelContainer p {
		max-width: 46.875vw;	
		font-size: 1.91015625vw;
		line-height: 3.3854166vw;
		margin-bottom: 4.55729166vw;
		margin-top: -1vw;
		margin-left: 3.2552083vw;
	}
	#Map {
		width: 64.1927083vw;
		height: 55.9895833vw;
		position: static;
		margin: 0 auto;
	}	
}
@media (max-width: 640px) {
	#HowToGetThere {
		padding-top: 15.625vw;
		padding-bottom: 20.3125vw;
	}
	#HowToGetThere h2 {
		font-size: 8.125vw;
		margin-bottom: 12.5vw;
	}
	#TravelOpportunities {
		max-width: 100%;
		margin-left: 0;
		margin-bottom: 1.5625vw;
		padding-left: 6.25vw;
	}
	#RATP-logo {
		width: 13.4375vw;
		height: 16.25vw;	
	}
	.TravelLogo {
		width: 13.75vw;
		height: 13.75vw;	
	}
	.TravelContainer p {
		max-width: 65.9375vw;	
		font-size: 3.990625vw;
		line-height: 7.1875vw;
		margin-bottom: 11.5625vw;
		margin-top: -2.5vw;
		margin-left: 6.25vw;
	}
	#Map {
		width: 87.5vw;
		height: 76.5625vw;
	}		
}
/* END How To Get There */
