AddType image/svg+xml svg svgz
AddEncoding gzip svgz

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

# perform redirect if speaker profile
RewriteRule    ^speaker-profile/[a-zA-Z]   speaker-profile.php    [NC,L]




