Options +FollowSymLinks
RewriteEngine On
 
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^.*$ ./index.php

# perform redirect if speaker profile
RewriteRule    ^speaker-profile/[a-zA-Z]   speaker-profile.php    [NC,L]
