@charset "utf-8";
/* General Definitions*/

.RobotoText {
  font-family: 'Roboto', sans-serif;
}
.OswaldText {
  font-family: 'Oswald', sans-serif;
}

/*END  General Definitions*/

.MenuIcon {
  width: 100%;
  max-width: 4vw;
  margin-top: 6px;
  padding: 0 0.5vw;
	
}

@media (max-width:991px) {
.MenuIcon {
  max-width: 14vw;

	
}
}

@media (max-width:360px) {
.MenuIcon {
  max-width: 21vw;

	
}
}

#MenuIconContainer {
  margin-right: 11vw;
}

#MenuContainer {
  height: 4vw;
}